<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Borrowing Log</title>
</head>
<body>
<a href="/">Go Home</a><br>
<h2>Borrowing Log</h2>
<table th:if="${not #lists.isEmpty(borrows)}">
    <thead>
    <tr>
        <th>Borrower Name</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Return Date</th>
        <th>From Date</th>
        <th>Returned</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="logEntry : ${logEntries}">
        <td th:text="${logEntry.borrowerName}">Sadra</td>
        <td th:text="${logEntry.itemName}">Book (Java)</td>
        <td th:text="${logEntry.itemDescription}">java 8 manual</td>
        <td th:text="${logEntry.returnDate}">2018/02/21</td>
        <td th:text="${logEntry.fromDate}">2018/02/11</td>
        <td th:text="${logEntry.isReturned}">true</td>
    </tr>
    </tbody>
</table>
</body>
</html>
